#include <behaviors.dtsi>
#include "keypos_def/keypos_36keys_totem.h"     // keyposition helpers (Totem 36-key)
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮         ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
   &kp Q         &kp W         &kp E         &kp R         &kp T                   &kp Y         &kp U         &kp I         &kp O         &kp P
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤         ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &kp CTL A     &kp ALT S     &kp GUI D     &kp SFT F     &kp G                   &kp H         &kp SFT J     &kp GUI K     &kp ALT L     &kp CTL SQT
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤         ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
   &kp Z         &kp X         &kp C         &kp V         &kp B                   &kp N         &kp M         &kp COMMA     &kp DOT       &kp QMARK
//╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤         ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                               &mt ALT ESC   &mt GUI F13   &lt NUM TAB             &mt SFT RET   &lt NAV SPC   &kp BSPC
//                            ╰─────────────┴─────────────┴─────────────╯         ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
